.about-container{
    overflow-y: auto;
    width: 95vw;
    max-width: -3xl;
    margin: 0 auto;
    padding: 3rem 1rem;
    margin-top: 25px;
    background-size: 30px 30px;
    background-image: linear-gradient(to right, lightblue 0.5px, transparent 0.7px), linear-gradient(to bottom, lightblue 0.5px, transparent 0.7px);
}

.bio{
    justify-self: center;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border-radius: 10px;
    padding: 15px;
    padding-left: 25px;
    width: 100%;
    max-width: 95%;
    box-sizing: border-box;
    line-height: 1.6;
    font-size: 1rem;
    display: grid;
    grid-auto-flow: column;
    align-content: space-between;
    gap: 25px;
}

.bio-img img{
    size: 50px;
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin: 1.2em;
}

.social-links{
    display: flex;
    justify-content: right;
    gap: 10px;
}

.logo_X{
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    border-radius: 4px;
    width: 10px;
    height: 10px;
    padding: 6.5px;
}



