/* src/routes/PaperDiveIns/PaperDiveIns.css */

/*Common*/
.container {
  overflow-y: auto;
  width: 95vw;
    max-width: 6xl;
    margin: 0 auto;
    padding: 3rem 1rem; /* Adjust padding as needed */
    margin-top: 25px;
    background-size: 30px 30px;
    background-image: 
    linear-gradient(to right, lightblue 0.5px, transparent 0.7px), 
    linear-gradient(to bottom, lightblue 0.5px, transparent 0.7px);
}

/* Markdown Content */
/* Markdown Content */
.markdown-content {
    padding: 2rem; 

    /*
    overflow-y: auto; 
    overflow-x: hidden;
    
    background-color: #ffffff;
    border-radius: 0.5rem; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: normal;
    display: block; 
    max-width: 100%;
    box-sizing: border-box; 
    line-height: 1.6;
    font-size: 1rem;
    white-space: pre-wrap;
    tab-size: 4;
    */
}
/* Preserve indentation */

.markdown-content blockquote{
    background: whitesmoke;
    border-radius: 10px;
    padding: 20px;
}

/*Common*/
.title {
    font-size: 1.7rem;
    font-weight: bold;
    color: slateblue;
    margin-bottom: 1rem;
    margin-left: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 70px;
}

.description {
    font-size: 1.125rem; /* text-lg */
    color: #4b5563; /* text-gray-600 */
    margin-bottom: 2rem; /* mb-8 */
    margin-left: 10px;
}

/*Common*/
.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 30px;

}

/*Common*/
.flex-container {
    /*
    display: flex;
    flex-direction: column;
    */
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 10px;
    align-items: center;
    /*border-bottom-style: outset;*/
}

.image-container {
    width: 90%; /* md:w-1/3 */
    margin-bottom: 1rem; /* mb-4 */
}

/*Common*/
.image {
    width: 100%;
    height: auto;
    border-radius: 0.5rem; /* rounded-lg */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-md */
}

.title-paper {
    font-size: 1.5rem; /* text-2xl */
    font-weight: 600; /* font-semibold */
    color: #51153E; /* text-gray-800 */
    margin-bottom: 0.5rem; /* mb-2 */
}

.tag {
    display: inline-block;
    background-color: #ebf8ff; /* bg-blue-100 */
    color: #1e40af; /* text-blue-800 */
    font-size: 0.75rem; /* text-xs */
    font-weight: 600; /* font-semibold */
    margin-right: 0.5rem; /* mr-2 */
    padding: 0.125rem 0.625rem; /* px-2.5 py-0.5 */
    border-radius: 0.25rem; /* rounded */
}

.description-paper {
    color: #374151; /* text-gray-700 */
}

/* Responsive breakpoints */
@media screen and (max-width: 768px) {
    .container {
        padding: 0.5rem;
    }

    .markdown-content, .html-content {
        padding: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .container {
        margin-top: 4rem;
    }

    table {
        font-size: 0.875rem;
    }
}
